@import 'topcoder/tc-includes';
@import 'topcoder/tc-forms';
@import '../tc-ui-variables.scss';

.login-container,
.register-container,
.reset-password-container,
.registered-successfully-container {
  @include font-with-weight('Roboto');
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 2px 6px 1px #E9E9E9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  margin: 60px auto 0;
  position: relative;
  text-align: center;
  header {
    background-color: $gray-darkest;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    position: relative;
    
    .logo-link img, .ico img {
      display: inline-block;
      height: 30px;
    }
  }
  form {
    margin-bottom: 15px;
  }
  // Basic element stylings
  h1 {
    @include font-with-weight('Barlow Condensed Medium');
    color: #2A2A2A;
    font-size: 34px;
    line-height: 38px;
    align-self: center;
    width: 380px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 39px;
    text-transform: uppercase;
    @media (max-width: 767px) {
      margin: 30px auto;
    }
  }
  header > p,
  form > p {
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 20px;
  }
  input[type='text'],
  input[type='email'],
  toggle-password,
  toggle-confirm-password,
  toggle-password-with-tips {
    width: 410px;
  }
  .confirm-password {
    margin-top: 10px;
  }
  .tips,
  .email-tips,
  .password-tips {
    @media screen and (min-width: 915px) {
      left: 395px;
    }
  }
  // Autocomplete
  .angucomplete-dropdown {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4);
    color: $gray-darkest;
    width: 100%;
    text-align: left;
  }
  .angucomplete-selected-row {
    background-color: $primary-lighter;
    color: $gray-darkest;
  }
  // Autocomplete end
  button {
    align-self: center;
    margin-top: 20px;
  }
  // Social section
  .networks {
    display: block;
    .network {
      margin-left: 30px;
      &:first-child {
        margin-left: 0 !important;
      }
      & a:hover {
        filter: brightness(80%);
      }
      span {
        @include font-with-weight('Roboto');
        color: #6b6b6b;
        cursor: pointer;
        font-size: 10px;
        line-height: 13px;
        text-transform: uppercase;
        transition: .1s all;;
      }
    }
    .network:hover {
      span {
        color: $gray-darkest;
      }
    }
  }
  .login-options {
    margin-bottom: 40px;
    p {
      @include font-with-weight;
      color: #6b6b6b;
      font-size: 13px;
      line-height: 22px;
      text-transform: uppercase;
    }
    .networks {
      display: flex;
      justify-content: center;
      padding: 0 10px;
      .network {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          @include font-with-weight('Sofia Pro', 500);
          color: $accent-gray;
          cursor: pointer;
          font-size: 10px;
          line-height: 13px;
          text-transform: uppercase;
        }
        .ico {
          cursor: pointer;
          height: 40px;
          width: 40px;
          margin-top: 22px;
        }
      }
    }
  }
}

// Register Link styles
.join-topcoder {
  @include font-with-weight('Roboto');
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #2A2A2A;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 10px;
  a {
    display: inline;
    font-weight: 400;
    color: #0D61BF !important;
    text-decoration: underline;
    &:focus {
      outline: 3px auto $tc-dark-blue-90;
    }
  }
  .redirect {
    width: 111px;
    padding: 8px 10px;
  }
}

.fold-pusher {
  height: 0;
  max-height: 0;
}

.account-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 500px;
  margin: 20px auto;
  background-color: $gray-lighter;
  padding: 20px 0;
}


@media (max-width: 767px) {
  .login-container,
  .register-container,
  .reset-password-container,
  .registered-successfully-container {
    width: 100%;
    margin: 0 auto;
    h1 {
      width: 100%;
    }
    form {
      width: 100%;
      margin: 0px;
      padding: 0 20px;
      input[type='text'],
      input[type='email'],
      toggle-password,
      toggle-confirm-password,
      toggle-password-with-tips {
        width: 100%;
      }
    }
  }

  .register-container {
    margin: 0 auto;
  }

  .registered-successfully-container {
    margin: 0 auto;
    p.message {
      padding: 34px 30px 124px 30px;
    }
  }
}


// The separator for login options
.tc-separator {
  $sp-width: 340px;
  display: block;
  width: $sp-width;
  margin: 0 auto;
  position: relative;
  text-align: center;
  &:after {
    background-color: $gray-light;
    content: ' ';
    display: block;
    height: 1px;
    width: $sp-width;
    overflow: hidden;
    position: absolute;
    top: 50%;
    z-index: 99;
  }
  & span {
    background: $white;
    border: none;
    display: inline-block;
    font-family: 'Roboto', Arial, sans-serif;
    color: #7F7F7F;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1.1px;
    padding: 0 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    z-index: 100;
  }
}
