@import 'topcoder/tc-includes';

// Toggle password directive
toggle-password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  position: relative;

  .input-btn {
    position: relative;
    width: 100%;
    height: 52px !important;
  }

  .input-btn .input {
    padding-right: 80px;
  }

  .input-btn .input:focus~.tc-btn {
    color: #FFFFFF;
    background: #006AD7;
  }

  .input-btn .tc-btn,
  .input-btn .tc-btn:hover,
  .input-btn .tc-btn:focus,
  .input-btn .tc-btn:active {
    position: absolute;
    right: 4px;
    top: 4px;
    background: $tc-white;
    border: 0;
    height: 48px;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    line-height: inherit
  }

  button#toggleInputTypeBtn {
    background: transparent;
    margin: 0;

    &:focus {
      background: transparent;
      outline: none;
      border: none;
    }
  }

}